In [35]:
import urllib.request as ur
import requests, re, time
from bs4 import BeautifulSoup as bs
from collections import defaultdict
import pandas as pd
import numpy as np

In [36]:
df_new=pd.read_csv('D:/jupyterNotebook/data.csv')
df_new

      Unnamed: 0         name    type       day gongmo_p sicho_p
0              0       쏘카(유가)   kospi  20220818        -       -
1              1      에이치와이티씨  kosdaq  20220809    15000       -
2              2      유안타스팩9호  kosdaq  20220804     2000       -
3              3          새빗켐  kosdaq  20220804    35000       -
4              4  수산인더스트리(유가)   kospi  20220801    35000   33000
...          ...          ...     ...       ...      ...     ...
1288        1288      맥스엔지니어링  kosdaq  20060704     2900    4285
1289        1289        사이버패스  kosdaq  20060704     5200    4860
1290        1290         인포뱅크  kosdaq  20060704     4600    4610
1291        1291        켐트로닉스  kosdaq  20060117     9500    9800
1292        1292         오스코텍  kosdaq  20060117     9000   13000

[1293 rows x 6 columns]

In [37]:
df_new.drop(['Unnamed: 0'], axis = 1,inplace = True)
df_new

             name    type       day gongmo_p sicho_p
0          쏘카(유가)   kospi  20220818        -       -
1         에이치와이티씨  kosdaq  20220809    15000       -
2         유안타스팩9호  kosdaq  20220804     2000       -
3             새빗켐  kosdaq  20220804    35000       -
4     수산인더스트리(유가)   kospi  20220801    35000   33000
...           ...     ...       ...      ...     ...
1288      맥스엔지니어링  kosdaq  20060704     2900    4285
1289        사이버패스  kosdaq  20060704     5200    4860
1290         인포뱅크  kosdaq  20060704     4600    4610
1291        켐트로닉스  kosdaq  20060117     9500    9800
1292         오스코텍  kosdaq  20060117     9000   13000

[1293 rows x 5 columns]

In [38]:
df_new = df_new[~df_new['name'].str.contains('스팩')] 
df_new = df_new[~df_new['name'].str.contains('리츠')]
df_new

             name    type       day gongmo_p sicho_p
0          쏘카(유가)   kospi  20220818        -       -
1         에이치와이티씨  kosdaq  20220809    15000       -
3             새빗켐  kosdaq  20220804    35000       -
4     수산인더스트리(유가)   kospi  20220801    35000   33000
6          아이씨에이치  kosdaq  20220729    34000   30600
...           ...     ...       ...      ...     ...
1288      맥스엔지니어링  kosdaq  20060704     2900    4285
1289        사이버패스  kosdaq  20060704     5200    4860
1290         인포뱅크  kosdaq  20060704     4600    4610
1291        켐트로닉스  kosdaq  20060117     9500    9800
1292         오스코텍  kosdaq  20060117     9000   13000

[1039 rows x 5 columns]

In [39]:
index1 = df_new[df_new['gongmo_p'] == '-'].index
df_new = df_new.drop(index1)
df_new

             name    type       day gongmo_p sicho_p
1         에이치와이티씨  kosdaq  20220809    15000       -
3             새빗켐  kosdaq  20220804    35000       -
4     수산인더스트리(유가)   kospi  20220801    35000   33000
6          아이씨에이치  kosdaq  20220729    34000   30600
7           성일하이텍  kosdaq  20220728    50000   99900
...           ...     ...       ...      ...     ...
1288      맥스엔지니어링  kosdaq  20060704     2900    4285
1289        사이버패스  kosdaq  20060704     5200    4860
1290         인포뱅크  kosdaq  20060704     4600    4610
1291        켐트로닉스  kosdaq  20060117     9500    9800
1292         오스코텍  kosdaq  20060117     9000   13000

[1038 rows x 5 columns]

In [40]:
index1 = df_new[df_new['sicho_p'] == '-'].index
df_new = df_new.drop(index1)
df_new

             name    type       day gongmo_p sicho_p
4     수산인더스트리(유가)   kospi  20220801    35000   33000
6          아이씨에이치  kosdaq  20220729    34000   30600
7           성일하이텍  kosdaq  20220728    50000   99900
8         에이프릴바이오  kosdaq  20220728    16000   19500
10             루닛  kosdaq  20220721    30000   30800
...           ...     ...       ...      ...     ...
1288      맥스엔지니어링  kosdaq  20060704     2900    4285
1289        사이버패스  kosdaq  20060704     5200    4860
1290         인포뱅크  kosdaq  20060704     4600    4610
1291        켐트로닉스  kosdaq  20060117     9500    9800
1292         오스코텍  kosdaq  20060117     9000   13000

[1036 rows x 5 columns]

In [47]:
df_new = df_new.astype({'gongmo_p':'int64'})
df_new = df_new.astype({'sicho_p':'int64'})
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1036 entries, 4 to 1292
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      1036 non-null   object
 1   type      1036 non-null   object
 2   day       1036 non-null   int64
 3   gongmo_p  1036 non-null   int64
 4   sicho_p   1036 non-null   int64
dtypes: int64(3), object(2)
memory usage: 48.6+ KB

In [48]:
df_new['count']=np.where(df_new['sicho_p']>df_new['gongmo_p'],1,0)
df_new

             name    type       day  gongmo_p  sicho_p  count
4     수산인더스트리(유가)   kospi  20220801     35000    33000      0
6          아이씨에이치  kosdaq  20220729     34000    30600      0
7           성일하이텍  kosdaq  20220728     50000    99900      1
8         에이프릴바이오  kosdaq  20220728     16000    19500      1
10             루닛  kosdaq  20220721     30000    30800      1
...           ...     ...       ...       ...      ...    ...
1288      맥스엔지니어링  kosdaq  20060704      2900     4285      1
1289        사이버패스  kosdaq  20060704      5200     4860      0
1290         인포뱅크  kosdaq  20060704      4600     4610      1
1291        켐트로닉스  kosdaq  20060117      9500     9800      1
1292         오스코텍  kosdaq  20060117      9000    13000      1

[1036 rows x 6 columns]

In [49]:
df_new['day'] = pd.to_datetime(df_new['day'], format='%Y%m%d', errors='raise')
df_new

             name    type        day  gongmo_p  sicho_p  count
4     수산인더스트리(유가)   kospi 2022-08-01     35000    33000      0
6          아이씨에이치  kosdaq 2022-07-29     34000    30600      0
7           성일하이텍  kosdaq 2022-07-28     50000    99900      1
8         에이프릴바이오  kosdaq 2022-07-28     16000    19500      1
10             루닛  kosdaq 2022-07-21     30000    30800      1
...           ...     ...        ...       ...      ...    ...
1288      맥스엔지니어링  kosdaq 2006-07-04      2900     4285      1
1289        사이버패스  kosdaq 2006-07-04      5200     4860      0
1290         인포뱅크  kosdaq 2006-07-04      4600     4610      1
1291        켐트로닉스  kosdaq 2006-01-17      9500     9800      1
1292         오스코텍  kosdaq 2006-01-17      9000    13000      1

[1036 rows x 6 columns]

In [50]:
data_cross=df_new.loc[::-1]
data_cross['quarter']=data_cross['day'].dt.quarter
data_cross['year']=data_cross['day'].dt.year
data_cross

C:\Users\KHS\AppData\Local\Temp\ipykernel_25560\1322033841.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cross['quarter']=data_cross['day'].dt.quarter
C:\Users\KHS\AppData\Local\Temp\ipykernel_25560\1322033841.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cross['year']=data_cross['day'].dt.year

             name    type        day  gongmo_p  sicho_p  count  quarter  year
1292         오스코텍  kosdaq 2006-01-17      9000    13000      1        1  2006
1291        켐트로닉스  kosdaq 2006-01-17      9500     9800      1        1  2006
1290         인포뱅크  kosdaq 2006-07-04      4600     4610      1        3  2006
1289        사이버패스  kosdaq 2006-07-04      5200     4860      0        3  2006
1288      맥스엔지니어링  kosdaq 2006-07-04      2900     4285      1        3  2006
...           ...     ...        ...       ...      ...    ...      ...   ...
10             루닛  kosdaq 2022-07-21     30000    30800      1        3  2022
8         에이프릴바이오  kosdaq 2022-07-28     16000    19500      1        3  2022
7           성일하이텍  kosdaq 2022-07-28     50000    99900      1        3  2022
6          아이씨에이치  kosdaq 2022-07-29     34000    30600      0        3  2022
4     수산인더스트리(유가)   kospi 2022-08-01     35000    33000      0        3  2022

[1036 rows x 8 columns]

In [51]:
count_sum=0
count_def=0
result=[]
for i in range(len(data_cross)):
    
    if data_cross.iloc[i]["quarter"]!=data_cross.iloc[i-1]["quarter"] and i!=0:
        count_sum=0
        count_def=0
            
    if data_cross.iloc[i]["count1"]==0:
        count_def=count_def+1
        count_sum=count_sum+1
    else:
        count_sum=count_sum+1
        
    result.append(round(1-(count_def/count_sum),2))
result

KeyError: 'count1'